*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    grid-area: cab;
    background-color:#ffe5f0 ;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-shadow: 3px 3px 3px #ffffff;
    color:#fdcae1;
    font-size: 50px;
    padding: 15px;
}
header h1 {
    font-size: 24px;
    font-weight: bold;
}
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
}
.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}
.input::placeholder {
    color: #9e9ea7;
}
.input:focus, input:hover {
    outline: none;
    border-color: rgba(65, 61, 61, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgba(241, 241, 241, 0.1);
}
.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}
.logo img {
    width: 50px; /* Defina o tamanho adequado para o seu logotipo */
    height: auto; /* Isso garante que a proporção seja mantida */
}
main{
    grid-area: pri;
    background-color:#fff;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    gap: 20px;
}
footer{
    grid-area: rod;
    background-color: pink;
}
body {
    display: grid;
    grid-template-areas: 
    "cab cab"
    "pri pri"
    "rod rod";
    grid-gap: 5px;
    grid-template-rows: auto 1000px auto;
}
.quiz-container {
    max-width: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    height: 400px;
}
.question {
    font-size: 18px;
    margin-bottom: 10px;
}
.options label {
    display: block;
    margin-bottom: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.options label:hover {
    background-color: #e0e0e0;
}
.result {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: pink;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: pink; 
}
